:root {
    --bold: 'Montserrat-Bold';
    --regular: 'Montserrat-Regular';

    --tr: 0.2s;

    --dark: #2B3541;
    --yellow: #ffff00;
    --yellowRGB: rgb(255, 255, 0);
    --grey: rgba(243, 243, 243, 1);
}

@font-face {
    font-family: 'Montserrat-Bold';
    src: url(../fonts/Montserrat-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: 'Montserrat-Regular';
    src: url(../fonts/Montserrat-Regular.ttf);
    font-weight: 400;
}

body {
    font-family: var(--regular);

}

.wrapper {
    max-width: 1140px;
    padding: 0 15px;
    margin: 0 auto;
}

ul,
li {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: var(--dark);
}

img {
    width: 100%;
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

button {
    cursor: pointer;
}

/* header */
.header {}

.header-wrapper {
    display: flex;
    align-items: center;
    padding: 3.125rem 0.625rem;
    gap: 2.625rem;
}

.header-logo {}

.header-burger {}

.menu-burger {
    display: none;
    background: url(../img/burger.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 1.8125rem;
    height: 1.375rem;
    background-color: transparent;
    border: none;
}

.logo {
    display: block;
    background: url(../img/logo.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 6.0625rem;
    height: 1.875rem;
}

.header-menu {
    flex-basis: 64.5%;
}

.menu-list {
    display: flex;
    gap: 3rem;
    flex-wrap: wrap;
}

.list-item {
    color: var(--dark);
    font-size: 1.125rem;
    line-height: 150%;
}

.list-item::after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background-color: transparent;
    transition: var(--tr);
}

.list-item:hover::after {
    background-color: var(--dark);
}

.header-email {
    position: relative;

}

.header-email::before {
    content: '';
    display: block;
    width: 1.5625rem;
    height: 1.5625rem;
    border-radius: 50%;
    background-color: var(--yellow);
    position: absolute;
    top: 0;
    left: -12px;
    z-index: 1;
    /* box-shadow: ; */
}

.header-email a {
    position: relative;
    font-family: var(--bold);
    font-size: 1rem;
    line-height: 150%;
    z-index: 9;
}

.header-email a::after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background-color: transparent;
    transition: var(--tr);
}

.header-email a:hover::after {
    background-color: var(--dark);
}

/* main */

.main {}

/* training */
.training {
    position: relative;
    display: flex;
}


.training-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.training-title {
    max-width: 632px;
}

.training-title h1 {
    font-family: var(--bold);
    font-size: 48px;
}

.training-subtitle {
    margin-top: 40px;
}

.training-subtitle span {
    margin-right: 16px;
}

.training-subtitle h2 {
    font-size: 40px;
}

.training-text {
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 40px;
    margin-left: 100px;
    max-width: 297px;
    margin-right: 44px;
}

.training-btn {
    margin-left: 100px;
}

.training-btn button {
    font-family: var(--bold);
    background: var(--yellow);
    border: none;
    padding: 20px 30px;
    filter: drop-shadow(0 4px 4px var(--yellowRGB));
    text-transform: uppercase;
}

.training-btn-botton {
    position: absolute;
    left: 0;
    bottom: 0;
}

.training-btn-botton .scroll-btn {
    display: block;
    background: #fff;
    background: url(/img/icons/Arrow.svg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 52px;
    height: 55px;

}

.training img {
    right: 4vw;
}


/*  */

.training-bg {
    opacity: 0.45;
    background-image: linear-gradient(#FBF138, #FDF9B6);
    max-width: 464px;
    height: clamp(493px, 50vw, 852px);
    width: 100%;
}

.training img {
    /* position: absolute;
    right: -100px;
    bottom: 0;
    width: 100%;
    max-width: 996px; */
    position: absolute;
    right: 0vw;
    bottom: 0;
    width: clamp(399px, 50vw, 996px);
}

/* schedule */
.schedule {
    margin: 158px auto 186px;
}

.schedule-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 38px;
}

.schedule-title {
    max-width: 356px;
}

.schedule-title h2 {
    font-family: var(--bold);
    font-size: 40px;
}

.schedule-data {}

.schedule-data h3 {
    font-family: var(--bold);
    font-size: 28px;
}

.schedule-schedule {
    display: grid;
    gap: 20px;
    grid-template-areas:
        'a b c'
        'd b f'
        'd e f';
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 309px 73px 281px;
}

.schedule-block {
    position: relative;
    border: 1px solid var(--dark);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px 20px;
    z-index: 1;
}

.schedule-block::before {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(rgb(251, 241, 56), rgba(253, 249, 182, 0.45));
    z-index: -1;
    transition: opacity var(--tr) linear;
    opacity: 0;
}

.schedule-block:hover::before {
    opacity: 1;
}


.schedule-block:nth-child(1) {
    grid-area: a;
}

.schedule-block:nth-child(1) .schedule-name::before {
    content: '';
    display: flex;
    width: 65px;
    height: 65px;
    margin-bottom: 40px;
    background-image: url(../img/icons/body.svg);
    background-size: cover;
    background-repeat: no-repeat;
}

.schedule-block:nth-child(2) {
    grid-area: b;
}

.schedule-block:nth-child(2) .schedule-name::before {
    content: '';
    display: flex;
    width: 42px;
    height: 85px;
    margin-bottom: 40px;
    background-image: url(../img/icons/bottle.svg);
    background-size: cover;
    background-repeat: no-repeat;
}

.schedule-block:nth-child(3) {
    grid-area: c;
}

.schedule-block:nth-child(3) .schedule-name::before {
    content: '';
    display: flex;
    width: 91px;
    height: 50px;
    margin-bottom: 40px;
    background-image: url(../img/icons/dumbbell.svg);
    background-size: cover;
    background-repeat: no-repeat;
}

.schedule-block:nth-child(4) {
    grid-area: d;
}

.schedule-block:nth-child(4) .schedule-name::before {
    content: '';
    display: flex;
    width: 67px;
    height: 107px;
    margin-bottom: 40px;
    background-image: url(../img/icons/jump.svg);
    background-size: cover;
    background-repeat: no-repeat;
}

.schedule-block:nth-child(5) {
    grid-area: e;
}

.schedule-block:nth-child(5) .schedule-name::before {
    content: '';
    display: flex;
    width: 65px;
    height: 61px;
    margin-bottom: 40px;
    background-image: url(../img/icons/heart.svg);
    background-size: cover;
    background-repeat: no-repeat;
}

.schedule-block:nth-child(6) {
    grid-area: f;
}

.schedule-block:nth-child(6) .schedule-name::before {
    content: '';
    display: flex;
    width: 58px;
    height: 66px;
    margin-bottom: 40px;
    background-image: url(../img/icons/weight.svg);
    background-size: cover;
    background-repeat: no-repeat;
}


.schedule-data {}

.schedule-data h4 {
    text-align: end;
    font-weight: 400;
    font-size: 18px;
}

.schedule-name {
    font-family: var(--bold);
    font-size: 18px;
}

/* .section-form  */

.section-form {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 0;
    background: var(--grey);
}

.form-title {
    margin-bottom: 40px;
    position: relative;
}

.form-title::before {
    content: '';
    display: block;
    width: 53px;
    height: 53px;
    border-radius: 50%;
    background-color: var(--yellow);
    position: absolute;
    top: -18px;
    left: -18px;
    z-index: 1;
    box-shadow: 0px 7px 27px -1px var(--yellow);
}

.form {}

.form-title h3 {
    position: relative;
    font-family: var(--bold);
    font-size: 40px;
    z-index: 9;
}

.email {
    display: flex;
    gap: 20px;
    margin-bottom: 10px;
    overflow: hidden;
}

.email-input {
    display: block;
    max-width: 351px;
    height: 65px;
    width: 100%;
    padding-left: 19px;
    border: none;
}

input {
    outline: none;
}

.email-btn {
    font-family: var(--bold);
    display: block;
    max-width: 225px;
    width: 100%;
    height: 67px;
    border: none;
    background-color: var(--yellow);
    text-transform: uppercase;
}

.input-checkbox {
    display: flex;
    align-items: center;
}

.input-checkbox a {
    border-bottom: 1px solid var(--dark);
}

.checkbox {
    width: 24px;
    height: 24px;
    margin-right: 3px;
}

/* section-about */
.section-about {
    margin-top: 134px;
    margin-bottom: 170px;
}

.about-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
}

.about-company {
    max-width: 483px;
}

.about-title h2 {
    font-family: var(--bold);
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 18px;
}

.about-text {}

.about-text p {
    font-size: 18px;
    margin: 19px 0 34px;
}

.about-btn {
    font-size: 18px;
}

.about-btn button {
    font-family: var(--bold);
    border: none;
    background: var(--yellow);
    text-transform: uppercase;
    font-size: 18px;
    padding: 20px 51px;
}

.about-img {
    max-width: 581px;
    width: 100%;
    height: 336px;
    /* background-color: rgb(251, 241, 56), rgba(253, 249, 182, 0.45); */
    position: relative;

    background-image: linear-gradient(rgb(251, 241, 56), rgba(253, 249, 182, 0.45));
}

.about-img img {
    object-fit: cover;
    opacity: 0.6;
}

.about-subinfo {
    display: grid;
    grid-template-columns: 231px 284px 221px 204px;
    grid-template-areas:
        'a b c d';
    gap: 72px;
}

.about-subtitle {
    font-size: 18px;
    font-family: var(--bold);
    margin-bottom: 18px;
}

.about-subtext {
    font-size: 18px;
}

/* footer */

.footer {
    background-color: var(--grey);
    padding: 48px 0 21px;
    color: var(--dark);
}

.footer-wrapper {}

.footer-info {
    display: flex;
    align-items: center;
    gap: 4.6875rem;
    margin-bottom: 29px;
}

.footer-info-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.875rem;
}

.span-2 a {
    text-decoration: underline;
}

.footer-logo {}

.footer-burger {}

.menu-burger {
    display: none;
    background: url(../img/burger.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 1.8125rem;
    height: 1.375rem;
    background-color: transparent;
    border: none;
}

.logo {
    display: block;
    background: url(../img/logo.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 6.0625rem;
    height: 1.875rem;
}

.footer-menu {
    flex-basis: 64.5%;
}

.menu-list {
    display: flex;
    gap: 3rem;
    flex-wrap: wrap;
}

.list-item {
    color: var(--dark);
    font-size: 0.875rem;
    line-height: 150%;
}

.list-item::after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background-color: transparent;
    transition: var(--tr);
}

.list-item:hover::after {
    background-color: var(--dark);
}

.footer-email {
    position: relative;

}

.footer-email::before {
    content: '';
    display: block;
    width: 1.5625rem;
    height: 1.5625rem;
    border-radius: 50%;
    background-color: var(--yellow);
    position: absolute;
    top: 0;
    left: -12px;
    z-index: 1;
    /* box-shadow: ; */
}

.footer-email a {
    position: relative;
    font-family: var(--bold);
    font-size: 1rem;
    line-height: 150%;
    z-index: 9;
}

.footer-email a::after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background-color: transparent;
    transition: var(--tr);
}

.footer-email a:hover::after {
    background-color: var(--dark);
}

._mobile {
    display: none;
}

/* menu-border */
.menu {
    display: none;
    position: absolute;
    top: -300px;
    left: 0;
    width: 100%;
    z-index: 999;
    background: #F3F3F3;
    transition-duration: var(--tr);
}

.menu-header {
    padding: 29px 10px 40px;
}

.menu-logo {
    display: flex;
    justify-content: space-between;
    /* padding: 0 10px; */
}

.logo {}

.close-burger {
    background-image: url(../img/icons/close.svg);
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
    background-color: transparent;
    width: 20px;
    height: 19px;
}

.burger-menu_list {
    padding: 0 10px;
}

.list li {
    padding: 20px 0;
    border-bottom: 1px solid #000;
}

.list li:last-child {
    padding: 20px 0 38px;
    border-bottom: none;
}

@media (max-width: 1200px) {

    .list-item {
        font-size: 0.875rem;
    }

    .training img {
        right: 0vw;
    }

    .about-subinfo {
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            'a b'
            'c d';
        gap: 43px 148px;
    }

    /*  */

    .training-title h1 {
        font-family: var(--bold);
        font-size: 26px;
    }

    .training-subtitle h2 {
        font-size: 28px;
    }

    .training-text {
        font-size: 18px;
        margin-left: 0;

    }

    .training-btn {
        margin-left: 0;
    }

    .training-btn-botton .btn {
        width: 39px;
        height: 40px;
    }

    .training img {
        right: 3vw;
    }
}

@media (max-width: 768px) {
    .header {
        height: 100px;
    }

    .header-wrapper {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        background: #fff;
        padding: 2.1875rem 0.625rem;
        gap: 0 38px;
        z-index: 999;
    }

    .menu-burger {
        display: block;
    }

    .menu-list {
        display: none;
    }

    /* about */

    .section-about {
        margin-bottom: 76px;
    }

    .about-info {
        gap: 0 38px;
        margin-bottom: 38px;
    }

    .about-company {
        max-width: 318px;
    }

    .about-title h2 {
        font-size: 40px;
    }

    .about-subinfo {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 'a b' 'c d';
        gap: 43px 148px;
    }

    .grid-a {
        grid-area: a;
    }

    .grid-b {
        grid-area: b;
    }

    .grid-c {
        grid-area: c;
    }

    .grid-d {
        grid-area: d;
    }

    /* footer */
    .footer {
        background-color: var(--grey);
        padding: 20px 0;
    }

    .footer-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .footer-menu {
        flex-basis: 64.5%;
        display: none;
    }

    .footer-email {
        position: relative;
        display: none;
    }

    .footer-info {
        padding: 0;
        margin: 0;
    }


    .footer-info-2 {
        font-size: 10px;
    }

    .span-1 {
        display: none;
    }

    .schedule-schedule {
        display: grid;
        gap: 20px;
        grid-template-areas:
            'a b'
            'c d'
            'e f';
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    .menu {
        position: fixed;
        display: block;
    }

    /*  */
}

@media (max-width: 576px) {

    .training-bg,
    .img-girl,
    .training-btn-botton {
        display: none;
    }

    .section-about {
        margin-bottom: 68px;
    }

    .about-company {
        max-width: 100%;
    }

    .about-img {
        display: none;
    }

    .about-title h2 {
        font-size: 28px;
    }

    .about-subtitle {
        font-size: 16px;
    }

    .about-subtext {
        font-size: 18px;
    }

    .about-btn button {
        font-family: var(--bold);
        border: none;
        background: var(--yellow);
        text-transform: uppercase;
        font-size: 18px;
        padding: 20px 0;
        width: 100%;
    }

    .about-subinfo {
        grid-template-columns: 1fr;
        grid-template-areas:
            'a'
            'b'
            'c'
            'd';
        gap: 40px 0;
    }

    .section-form {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 41px 0;
        background: var(--grey);
    }

    .email {
        flex-direction: column;
    }

    .form-title {
        margin: 0 auto;
        max-width: 201px;
        margin-bottom: 38px;
    }

    .form-title h3 {
        font-size: 26px;
        text-align: center;
    }

    .email-input {
        max-width: 100%;

    }



    .form-title::before {
        content: '';
        display: block;
        width: 31px;
        height: 31px;
        border-radius: 50%;
        background-color: var(--yellow);
        position: absolute;
        top: -13px;
        left: -13px;
        z-index: 1;
        box-shadow: 0px 7px 27px -1px var(--yellow);
    }

    .email-btn {
        max-width: 100%;
    }

    .input-checkbox {
        display: none;
    }

    ._mobile {
        display: flex;
        font-size: 11px;
    }

    .schedule {
        margin: 76px 0;
    }

    .schedule-schedule {
        display: grid;
        gap: 20px;
        grid-template-areas:
            'a'
            'd'
            'b'
            'e'
            'c'
            'f';
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }



    .schedule-title {
        max-width: 200px;
    }

    .schedule-title h2 {
        font-family: var(--bold);
        font-size: 26px;
    }

    .schedule-data h3 {
        font-family: var(--bold);
        font-size: 16px;
    }

    .schedule-block::before {

        background-image: none;

    }

    .schedule-block:nth-child(1) .schedule-name::before {
        content: '';
        display: flex;
        width: 39px;
        height: 39px;
        margin-bottom: 40px;
        background-image: url(../img/icons/body.svg);
        background-size: cover;
        background-repeat: no-repeat;
    }


    .schedule-block:nth-child(2) .schedule-name::before {
        content: '';
        display: flex;
        width: 23px;
        height: 47px;
        margin-bottom: 40px;
        background-image: url(../img/icons/bottle.svg);
        background-size: cover;
        background-repeat: no-repeat;
    }


    .schedule-block:nth-child(3) .schedule-name::before {
        content: '';
        display: flex;
        width: 46px;
        height: 25px;
        margin-bottom: 40px;
        background-image: url(../img/icons/dumbbell.svg);
        background-size: cover;
        background-repeat: no-repeat;
    }



    .schedule-block:nth-child(4) .schedule-name::before {
        content: '';
        display: flex;
        width: 34px;
        height: 53px;
        margin-bottom: 40px;
        background-image: url(../img/icons/jump.svg);
        background-size: cover;
        background-repeat: no-repeat;
    }


    .schedule-block:nth-child(5) .schedule-name::before {
        content: '';
        display: flex;
        width: 39px;
        height: 37px;
        margin-bottom: 40px;
        background-image: url(../img/icons/heart.svg);
        background-size: cover;
        background-repeat: no-repeat;
    }

    .schedule-block:nth-child(6) .schedule-name::before {
        content: '';
        display: flex;
        width: 35px;
        height: 40px;
        margin-bottom: 40px;
        background-image: url(../img/icons/weight.svg);
        background-size: cover;
        background-repeat: no-repeat;
    }
}

@media (max-width: 480px) {

    .header-wrapper {
        padding: 2.1875rem 0.625rem;
        gap: 0 17px;
    }

    .footer-info {
        flex-basis: 50%;
    }

    .footer-info-2 {
        font-size: 10px;
        display: block;
        text-align: end;
        line-height: 15px;
    }
}